<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title}}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
       
    <body>
        <div class = "middle">
            <div class = "header">
                <div class = "name_container">
                    <a href="/index.html"><p>My Gallery</p></a>
                </div>
            
                <div class="link_container">
                    {% include navigation.html %}
                </div>
            </div>

            <div class = "background">
                {{ content }}
            </div>
        </div>
    </body>
</html>